﻿
body:before, body:after {
    content: "";
    position: fixed;
    background: #FB9106;
    left: 0;
    right: 0;
    height: 30px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    background: url(/Images/blackwood.jpg);
    border-left: 30px solid #FB9106;
    border-right: 30px solid #FB9106;  
}

div.infoboxleft { 
    background-color: #FFA500;
    text-align: left;
}
div.infoboxright { 
    background-color: #FFA500;
    text-align: right;
}
div.infoboxcenter { 
    background-color: #FFA500;
    text-align: center;
}

div.infobox { 
    background-color: #FFA500;

}

@font-face {
    font-family:"MTG";
    src: url("/Fonts/magic.ttf") /* TTF file for CSS3 browsers */
}

.wide { width: 100%; }

td { padding: 2px; border:2px solid orange; }

div.absolute {
    position: absolute;
    top: 20px;
    left: 0;
    height: 75px;
    border: 1px solid #FFA500;
    width: 100%;
    background-color: gray;
    font-size: 26px;
    font-family:MTG;

}
